<.header>
  <h1>Create a New Collection</h1>
</.header>

<.simple_form for={@changeset} phx-change="validate" phx-submit="save">
  <.input field={@changeset[:name]} label="Name" />
  <.input field={@changeset[:description]} label="Description" type="textarea" />
  <.input field={@changeset[:handle]} label="Handle" />
  <.input field={@changeset[:blocks]} label="Blocks" type="textarea" />
  <:actions>
    <.button type="submit">Create Collection</.button>
  </:actions>
</.simple_form>
